body {
    margin: 0;
}

#canvas {
    border: 2px solid black;
}

.d-flex img {
    object-fit:contain;
}

#list_div_1 div, #list_div_2 div {
    max-width:20vw;
}

#list_div_1 div img, #list_div_2 div img {
    width:100%;
}
.homepage_footer {
    bottom: 0;
    width: 100%;
    max-height:20vh;
    min-height: 15vh;
    
}

@media (max-width: 576px) {
    #list_div_1 div, #list_div_2 div {
        max-width:155vw;
    } 
}

/*.homepage_header {
    grid-area: h;
}

.homepage_nav {
    grid-area: n;
}

.homepage_list_1 {
    grid-area:d;
}

.homepage_list_2 {
    grid-area:d2;
}

.homepage_footer {
    grid-area: f;
}


.homepage_grid {
    gap: 2px;
    background-color: black;
    display:grid;
    height: 100vh;
    grid-template-rows: 15vh 5vh 30vh 30vh;
    grid-template-areas:
    'h'
    'n'
    'd'
    'd2'
    'f' ;
}

*/